body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: hsl(0, 0%, 95%);
}

.calculator {
    font-family: Arial, sans-serif;
    background-color: hsl(0, 0%, 15%);
    border-radius: 15px;
    max-width: 425px;
    overflow: hidden;
}

#display {
    color: #fff;
    width: 100%;
    border: none;
    padding: 20px;
    font-size: 4rem;
    text-align: left;
    background-color: hsl(0, 0%, 25%);
}

.keys {
    display: grid;
    grid-template-columns: repeat(4, 90px);
    gap: 10px;
    padding: 25px 0 25px 25px;
}

button {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    border: none;
    background-color: hsl(0, 0%, 30%);
    color: white;
    font-size: 2.5rem;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background-color: hsl(0, 0%, 40%);
}
button:active {
    background-color: hsl(0, 0%, 50%);
}
#cal {
    background-color: hsl(35, 100%, 55%);
}
#cal:hover {
    background-color: hsl(35, 100%, 65%);
}
#cal:active {
    background-color: hsl(35, 100%, 75%);
}