* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #0A1128;
    color: #0A1128;
}

.container {
    min-height: 50vh;
    width: 50vh;
    padding: 2rem;
    border-radius: 1rem;
    background-color: #1282A2;
}

form {
    margin: 2rem 0 2rem 0;
}

form select, input, button {
    width: 100%;
    outline: none;
    border: none;
    border-radius: 0.3rem;
}

form input {
    border: 1px solid lightgray;
    font-size: 1rem;
    height: 3rem;
    padding-left: 0.5rem;
}

.dropdown {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
}

.dropdown i {
    font-size: 1.5rem;
    margin-top: 1rem;
}

.select-container img {
    max-width: 2rem;
}

.select-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 6rem;
    border: 1px solid lightgray;
    border-radius: 0.5rem;
}

.select-container select {
    font-size: 1rem;
    width: auto;
}

.msg {
    margin: 2rem 0 2rem 0;
    font-size: 1.2rem;
}

form button {
    height: 3rem;
    cursor: pointer;
    background-color: #0A1128;
    color: #FEFCFB;
    font-size: 1.15rem;
}

