.lorem {
    color: blue;
}

.box {
    height: 100px;
    width: 100px;
    border: 1px solid black;
    background-color: green;
}

.para {
    color: red;
}

.newClass {
    background-color: green;
}

.div {
    height: 100px;
    width: 100px;
    border: 1px solid black;
    background-color: red;
}

.dark {
    background-color: black;
    color: white;
}

.light {
    background-color: white;
    color: black;
}
